<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <title>Build Deck</title>
    <link rel="stylesheet" type="text/css" href="/global.css">
    <link rel="stylesheet" type="text/css" href="/buildDeck.css">
</head>

<body>
    <h1>Instructions</h1>
    <h3>Which Deck are you selecting</h3>
    <p>drop down menu</p>

    <p>Maybe from which game?</p>
    <br>
    <div class="instructions">
        <p>Here you can build your deck depending on what game you wish to play. First select the game
            option from the scroll down. Then select an existing deck to edit or create a new deck. Click cards inside
            the staging area
            to remove them from your deck and click cards in the card carousel to add them to your deck. Once you're
            finished, click Done, name your new deck and click Save.</p>
    </div>
    <h1>Build Your Deck</h1>
    <div class="stagingArea" id="stagingArea">
    </div>

    <br><br><br>
    <!-- Handlebars template for card -->
    <div class="cardContainer" id="cardContainer">
        <script id="card-template" type="text/x-handlebars-template">
        {{#each cards}}
            <div class="card">

                <div class="cardBackground">
                    <div class="cardFrame">
                    
                        <div class="frameHeader">
                            <h1 class="cardName">{{cardName}}</h1>
                        </div>
                        
                        <img src="{{imagePath}}" alt="{{cardName}}" class="card-image">

                        <p>Card Type: {{cardType}}</p>
                        <p>Attributes:</p>
                        <ul>
                            <li>Card ID: {{cardId}}</li>
                            <li>Rarity: {{rarity}}</li>
                            <li>Mana Cost: {{manaCost}}</li>

                            {{!-- Add other attributes as needed --}}
                            {{#if (eq cardType "spell")}}
                                <li>Spell Type: {{spellType}}</li>
                                <li>Spell Ability: {{spellAbility}}</li>
                                <li>Spell Attack: {{spellAttack}}</li>
                                <li>Spell Defense: {{spellDefense}}</li>
                            {{/if}}

                            <li>Attack: {{attack}}</li>
                            <li>Defense: {{defense}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        {{/each}}
    </script>
    </div>

    <!-- Scripts and styles -->
    <script src="/buildDeckHelper.js"></script>

    <button id="resetButton" onclick="resetGame()">Reset</button>
    <button id="saveDeckButton">Save Deck</button>


</body>