<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, intial-scale=1.0">
  <title>Card View Page</title>
  <link rel="stylesheet" href="global.css">
  <link rel="stylesheet" href="styles.css">
</head>

<body>
<h1>Bulk Card Generation Results</h1>
    <div id="cardContainer">
        {{#each cards}}
        <div class="card">
            <img src="{{URL}}" alt="Card Image">
            <p>Name: {{name}}</p>
            <p>Attack: {{attack}}</p>
            <p>Defense: {{defense}}</p>
            <p>Mana Cost: {{manaCost}}</p>
            <p>Enter Effect: {{enter_effect}}</p>
        </div>
        {{/each}}
    </div>
</body>
</html>