<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{username}}'s Profile</title>
  <link rel="stylesheet" type="text/css" href="/global.css">
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <base href="http://localhost:3000">
</head>
{{!-- #TODO add number of decks --}}
{{!-- #TODO add option to brows between collections and decks --}}
<body>
  <br>
  <h1 id="usernameH">Welcome to {{ username }}'s Profile</h1>
  <br>
  <div class="userContainer">
    <div class="userStats">
      <p>Number of Games Played: {{ gameCount }}</p>
      <p>Wins: {{ wins }}</p>
      <p>Losses: {{ losses }}</p>
      <p>Number of Generated Games: {{ gameLen }}</p>
      <p>Number of Collections: {{ collectLength }}</p>
      <p>Number of Decks: {{ deckLen }}</p>
      <br>
    </div>
  </div>
  <br>
  <div class="center">
     <form action="/gameGenPage" method="get">
      <button id="gen-game-button-ggp" type="submit">Create a New Trading Card Game</button>
    </form>
    <form action="/collect" method="POST">
    <button id="gen-game-button-ggp" type="submit">Create or Browse your collection for </button>
    <select name="gameId">
        {{#each vals}}
        <option value="{{ this.gameId }}">{{ this.imageLocation }}</option>
        {{/each}}
    </select>
    </form>
    <form action="/buildDeck" method="get">
      <button id="gen-game-button-ggp" type="submit">Edit your Play Deck from your Collection for</button>
      <select name="gameId">
        {{#each vals}}
        <option value="{{ this.gameId }}">{{ this.imageLocation }}</option>
        {{/each}}
    </select>
    </form>
    <form action="/gamePlayPage" method="get">
      <button id="gen-game-button-ggp" type="submit">Play with your created Deck against an opponent</button>
    </form>
    <br>
    <form action="/help" method="get">
      <button id="gen-game-button-ggp" type="submit">Help! I'm Lost</button>
    </form>
    <button id="gen-game-button-ggp" type="submit">LOGOUT! NEEDS WORK</button>
  </div>
</body>

</html>