<!DOCTYPE html>
<html lang="en">

<head>
  {{!--
  <meta charset="utf-8" /> --}}
  {{!--
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> --}}
  <title>{{username}}'s Profile</title>
  <link rel="stylesheet" type="text/css" href="/global.css">
  <base href="http://localhost:3000">
</head>

<body>
  <h1>{{ username }}'s Profile</h1>
  <p>Game Count: {{ game_count }}</p>
  <p>Wins: {{ wins }}</p>
  <p>Losses: {{ losses }}</p>
  <div>
    <a href="/browseGames"><button type="button">Browse User Games</button></a>
    <a href="/userDeck/{{username}}"><button type="button">Browse User Decks</button></a>
    <a href="/browseGames"><button type="button">Current Game</button></a>
    <a href="/currentDeck"><button type="button">Current Deck</button></a>
    <a href="/cardGenPage"><button type="submit">Card Gen Page</button></a>
    <a href="/gameGenPage"><button type="submit">Game Gen Page</button></a>
  </div>
</body>

</html>